*.zip
*.pth
.ipynb_checkpoints/
__pycache__/
.DS_Store
.env
*.pyc
*.log
Icon?
.DS_Store
/data
results/*/checkpoints/*.pth
Icon?
GitHub SSH*
src/Untitled.ipynb
Icon?
Icon
Save from Project/
scripts/train_fixed.py
results/
*.pth
CV_Final_Project_Video/
parameters.py
